.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 2%;
  gap: 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
  transform: scale(1.05);
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}
